#header {
  background-color: #808080;
  line-height: 20px;
  height: 150px;
}

h2 {
  font-size: 30px;
}

body{
  background-color: #B0C4DE;
  font-family: sans-serif;
}
.form-group{
  margin-right: 70px;
  margin-left: 70px;
}
#enter{
  margin-top: 15px;
}
.answer{
 margin-left: 75px;
 margin-top: 55px;

}
.line{
  background-color: grey;
  height: 2px;

}

#about-tracks {
  margin-left: 120px;
  margin-top: 50px;
}
.track1 {
  display: none;
}
.track2 {
  display: none;
}
.track3 {
  display: none;
}
.track {
  display: none;
}
