#header {
  line-height: 20px;
  height: 150px;
}

h2 {
  font-size: 30px;
}

body{
  font-family: sans-serif;
}
.form-group{
  margin-right: 70px;
  margin-left: 70px;
}
#enter{
  margin-top: 15px;
}
.answer{
 margin-left: 75px;
 margin-top: 55px;

}

/* .result1 {
  display: none;
}
.result2 {
  display: none;
}
.result3 {
  display: none;
}
.result {
  display: none;
} */
